{{lookup-form zipLookup="zipLookup"}}
<button {{action 'allCommittees'}}>See All Committees</button>
<button {{action 'allBills'}}>See All Bills</button>
<button {{action 'allHouseBills'}}>See All Upcoming House Bills</button>
